body {
	font-family: sans-serif;
}

.main{
	background-color: #AED6F1;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.logo-holder{
	position: relative;
	text-align: center;
	top: 20px;
} img{height:50px; }
.title{
	position: relative;
	text-align: center;
	font-size: 24px;
}
.taskArea{
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	top: 10px;
	border: 5px solid darkblue;
} h1{position: relative; left: 20px;}
.left-list{
	position: fixed;
	height: 100%;
	width: 50%;
	left: 8px;
	overflow: auto;
}
.right-list{
	position: fixed;
	height: 100%;
	width: 49%;
	left: 50%;
	border-left: 5px solid darkblue;
	overflow: auto;
}
.taskSearch{
	position: relative;
	top: 20px;
	left: 20px;
	height: 41px;
} input{height: 30px;} 
.scrapeSearch{
	position: relative;
	top: 20px;
	left: 20px;
	height: 41px;
} input{height: 30px;} 
.task-box{
	border: 1px solid black;
	border-radius: 7px;
	margin: 15px 5px;
	padding: 5px 10px;
	background-color: lightcyan;
	position: relative;
	top: -5px;
	left: -15px;
	overflow: auto;
	height: 60px;
	width: 88%;
} 
.task-box:hover{background-color: greenyellow; cursor: pointer;}
.taskName{font-size: 25px; font-weight:bold}
.url{
	position: absolute;
	left: 10px;
	top: 50px;
}
.scrape-data{
	/* cursor: pointer; */
	position: relative;
	margin: 16px 0px;
	padding: 12px 8px 12px 20px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	border: 1px solid darkblue;
	overflow: auto;
}
.scrape-data:hover{background-color: darkgray;cursor: pointer;}
.list-ul{position: relative;display: none; overflow: auto;}
.scheduleBtn{
	display: none;
	position: absolute;
	top: 70px;
	left: 80%;
	height: 35px;
	width: 90px;
}
.task-del-btn{
	position: absolute;
	left: 85%;
	top: 12px;
}
.scrape-del-btn{
	position: absolute;
	left: 90%;
}
.scrape-confirm-btn{
	position: absolute;
	left: 81%;
}
.schedule-modal {
	display: none;
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}
.modal-content{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
}
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.modal-header {
	padding: 2px 16px;
	background-color: #d93c3c;
	color: white;
}
.modal-footer {
	padding: 20px 26px;
	background-color: #d93c3c;
	color: white;
}
.modal-footer button{
	position: relative;
	left: 70%;
}
.modal-body{
	padding: 30px 50px;
	font-size: large;
}
.type{
	position: absolute;
	top: 100px;
}
.radio{
	position: relative;
	left: 80px;
}

#logout{
    float: right;
}

.logo-holder a {
	color: #ffffff;
    text-decoration: none;
}

.logo-holder span {
	background: #3775d0;
    border: none;
    border-radius: 4px !important;
    color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    width: 100px;
    font-weight: 300; 
    margin: 15px;
	margin-top: 0px;
}

#helpbut{
    float: left;
}

.task-info-btn{
 position: absolute;
    left: 70%;
    top: 12px;
}
